<div id="breadcrumbs">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <a href="/">Ali Robertson</a>{% 
        for crumb in crumbs offset: 1 
    %} {% if forloop.last %} &rarr; {{ page.title }} {% else 
    %} &rarr; <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{
        crumb | replace:'-',' ' | remove:'.html' | capitalize | replace:'Sharepoint','SharePoint'}}</a>{% endif %}{% endfor %}
</div>