{{ define "main" }}
<div class="content-wrapper">
  <article class="content">
    <h1>Page Not Found</h1>
    <p>The page you're looking for doesn't exist. You might have followed an old link or mistyped the URL.</p>
    <p><a href="/">Return to home page</a></p>
  </article>
</div>

<script>
(function() {
  const currentPath = window.location.pathname;
  let replaced = false;
  let newPath = currentPath;

  const redirects = [
    // old page, new page
    ['/resoures/sharepoint/', '/resources/m365-sharepoint/']
  ];
  const replacements = [
    // old pattern, new pattern
    ['/sharepoint-resources/', '/resources/m365-sharepoint/'],
    ['/sharepoint/', '/m365-sharepoint/'],
    ['/power-platform/', '/d365-power-platform/'],
  ];

  // path must end in slash
  if(!currentPath.endsWith('/')) {
    newPath += '/';
    replaced = true;
  }
  // handle replacements
  replacements.forEach(([searchValue, replaceValue]) => {
    if (newPath.includes(searchValue)) {
      newPath = newPath.replace(searchValue, replaceValue);
      replaced = true;
    }
  });
  // handle redirects
  const redirect = redirects.find(r => r[0] === newPath);
  if (redirect) {
    newPath = redirect[1];
    replaced = true;
  }
  if (replaced) {
    console.log('Redirecting from {0} to {1}', currentPath, newPath);
    window.location.replace(newPath);
  } else {
      console.error('404 with no redirect or replacement found for', currentPath);
  }
})();
</script>
{{ end }}
