<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body>
{% include header.html %}
<header class="subnav">
<nav>
<span>Windows Resources:</span>
    {% assign pages_list = site.pages
        | where_exp: "item", "item.layout contains 'windows'"
        | where_exp: "item", "item.link != nil"
        | sort: 'order'
    %}
{% for my_page in pages_list %}<a href="{{ my_page.permalink }}" {% if page.url==my_page.permalink %}aria-current="page"{% endif %} title="{{my_page.subtitle}}">{{ my_page.link }}</a>
{% endfor %}
</nav>
</header>
<main>
{{ content }}
</main>
{% include footer.html %}
</body>
</html>